<div class="skeleton-table__header">
    <div>
        <ngx-skeleton-loader class="" count="1" appearance="lines" [theme]="theme"></ngx-skeleton-loader>
    </div>
    <div>
        <ngx-skeleton-loader count="1" appearance="lines" [theme]="theme"></ngx-skeleton-loader>
    </div>
    <div>
        <ngx-skeleton-loader count="1" appearance="lines" [theme]="theme"></ngx-skeleton-loader>
    </div>
    <div>
        <ngx-skeleton-loader count="1" appearance="lines" [theme]="theme"></ngx-skeleton-loader>
    </div>
</div>
<div class="">
    <div class="skeleton-table__row">
        <ngx-skeleton-loader count="1" appearance="lines" [theme]="theme"></ngx-skeleton-loader>
    </div>
    <div class="skeleton-table__row">
        <ngx-skeleton-loader count="1" appearance="lines" [theme]="theme"></ngx-skeleton-loader>
    </div>
    <div class="skeleton-table__row">
        <ngx-skeleton-loader count="1" appearance="lines" [theme]="theme"></ngx-skeleton-loader>
    </div>
    <div class="skeleton-table__row">
        <ngx-skeleton-loader count="1" appearance="lines" [theme]="theme"></ngx-skeleton-loader>
    </div>
    <div class="skeleton-table__row">
        <ngx-skeleton-loader count="1" appearance="lines" [theme]="theme"></ngx-skeleton-loader>
    </div>
</div>
