<div class="modal-header">
    <h4 class="modal-title">Wachtwoord wijzigen</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="row">
            <div class="col-sm-12">
                <shared-form-input [group]="form" controlName="password" label="Oud wachtwoord"
                                   placeholder="Voer uw huidige wachtwoord in" type="password"></shared-form-input>
            </div>
            <div class="col-sm-12">
                <shared-form-input [group]="form" controlName="new_password" label="Nieuw wachtwoord"
                                   [errorMessages]="passwordErrorMessages"
                                   placeholder="Voer uw gewenste nieuwe wachtwoord in"
                                   type="password"></shared-form-input>
            </div>
            <div class="col-sm-12">
                <shared-form-input [group]="form" controlName="confirm_password" label="Controle wachtwoord"
                                   [errorMessages]="passwordErrorMessages"
                                   placeholder="Voer uw nieuwe wachtwoord nogmaals in"
                                   type="password"></shared-form-input>
            </div>
        </div>
    </form>
    <div *ngIf="errorMessage" class="invalid-feedback">{{errorMessage}}</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Anuleeren</button>
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Wachtwoord wijzigen</button>
</div>
