<div class="d-flex align-items-center auth login-bg theme-one">
    <div class="w-100">
        <div class="auth-ct">
            <div class="text-center mb-4">
                <img class="img-fluid w-25 auth-logo" src="assets/images/misti-logo-white-2.svg" alt="brand logo">
            </div>
            <div class="auto-form-wrapper">
                <div *ngIf="loading" class="mb-4">
                    <app-loader></app-loader>
                </div>
                <form *ngIf="showForm" [formGroup]="form" (submit)="onSubmit()">
                    <h5>Je kan nu je nieuwe wachtwoord instellen</h5>
                    <div class="form-group">
                        <label class="label">Wachtwoord</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Vul je wachtwoord in"
                                   formControlName="password">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                      <i *ngIf="password.valid && !errorMessage"
                                         class="mdi mdi-check-circle-outline auth-icon-valid"></i>
                                      <i *ngIf="(password.touched && password.invalid || errorMessage)"
                                         class="mdi mdi-close-circle-outline auth-icon-invalid"></i>
                                </span>
                            </div>

                        </div>
                        <div *ngIf="password.touched && password.invalid">
                            <div *ngIf="password.errors.pattern"
                                 class="invalid-feedback">{{ passwordErrorMessages && passwordErrorMessages['pattern'] || 'The field is invalid' }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">Controle wachtwoord</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Vul het controle wachtwoord opnieuw in"
                                   formControlName="confirm_password">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                      <i *ngIf="confirmPassword.valid && !errorMessage"
                                         class="mdi mdi-check-circle-outline auth-icon-valid"></i>
                                      <i *ngIf="(confirmPassword.touched && confirmPassword.invalid || errorMessage)"
                                         class="mdi mdi-close-circle-outline auth-icon-invalid"></i>
                                </span>
                            </div>
                        </div>
                        <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
                            <div *ngIf="confirmPassword.errors.mustMatch"
                                 class="invalid-feedback">{{ passwordErrorMessages && passwordErrorMessages['mustMatch'] || 'The field is invalid' }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div *ngIf="errorMessage">{{errorMessage}}</div>
                        <button type="submit" class="btn btn-primary submit-btn btn-block" [disabled]="form.disabled">
                            Save
                        </button>
                    </div>
                </form>

                <div *ngIf="tokenError">
                    <p>Het token is verlopen. Vraag een nieuwe aan of neem contact op met klantondersteuning!</p>
                </div>

                <div *ngIf="success">
                    <p>Je hebt succesvol je wachtwoord veranderd. Je kan nu <a routerLink="/login">inloggen</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
