<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="row">
            <div class="col-sm-12">
                <shared-form-input label="Naam" placeholder="Voer de naam in" controlName="name"
                                   [group]="form"></shared-form-input>
            </div>
            <div class="col-sm-12">
                <shared-form-input label="Contact Emailadres" placeholder="Voer het contact emailadres in "
                                   controlName="contact_email" [group]="form"></shared-form-input>
            </div>
            <div class="col-sm-12">
                <shared-form-input label="Telefoonnummer" placeholder="Voer het telefoonnummer in" controlName="phone_number"
                                   [group]="form"></shared-form-input>
            </div>
            <div class="col-sm-12">
                <shared-form-select label="Contact Persoon" placeholder="Selecteer een conctact person"
                                    controlName="contact_person_id"
                                    [options]="teamMemberOptions" bindLabel="name" [group]="form"></shared-form-select>
            </div>
            <div class="col-sm-12">
                <shared-form-file label="Logo" controlName="logo" [group]="form" [multiple]="false"></shared-form-file>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Annuleren</button>
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Opslaan</button>
</div>
