<div class="form-group" [formGroup]="formGroup">
    <label class=" form-control-label">{{ label }}</label>
    <div class="inline-radiobox-ct">
        <div *ngFor="let option of options" class="custom-control custom-radio">
            <input [id]="'tip-' + option.id" class="custom-control-input" type="radio" [formControlName]="controlName"
                   [value]="option.id"/>
            <label [for]="'tip-' + option.id" class="custom-control-label">{{ option.name }}</label>
        </div>
    </div>
</div>
