<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a
                href="https://misti.nl" target="_blank">Misti B.V.</a></span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Gebouwd en onderhouden door <a
                href="https://www.whale-agency.com" target="_blank">Whale Agency B.V.</a></span>
    </div>
</footer>
